body {
    display: block;

    margin: 0;

    font-family: 'Nunito', sans-serif;
}

main .page-body__container {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 5% 20%;
}

main form {
    display: block;

    margin-top: 0;
}

main h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

main h2 {
    margin-bottom: 40px;
}

main section {
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
}

main input {
    min-height: 30px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;

    margin-bottom: 20px;

    border-style: solid;
    border-radius: 10px;
    border-color: rgba(209, 209, 209, 0.3);
    border-width: medium;

    font-size: 18px;
}

main .input-number {
    min-height: 30px;
    height: 45px;
    width: 60px;


    margin-bottom: 20px;

    border-style: solid;
    border-radius: 10px;
    border-color: rgba(209, 209, 209, 0.3);
    border-width: medium;

    font-size: 18px;
}

main .image-offset {
    display: flex;
    flex-direction: column;
}


main select {
    min-height: 30px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;

    margin-bottom: 20px;

    border-radius: 10px;
    border-color: rgba(209, 209, 209, 0.3);
    border-width: medium;

    font-size: 18px;
}

main .coach-and-rank {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .date {
    width: 40%;
}

main .day-schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

main .event-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .event-poster {
    display: flex;
    justify-content: center;
    align-content: center;

    height: max-content;
}

main .event-poster .icon-field {
    width: 100%;
    height: fit-content;
}

main .event-poster  img {
    width: 100%;
    height: fit-content;
}

main .event-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    margin: 10px 0;
}

main .event-icons {
    margin-bottom: 60px;

    align-items: center;
}

main .icon-field {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;

    width: 180px;
    height: 180px;

    border: medium solid rgba(209, 209, 209, 0.3);
    border-radius: 20px;

    cursor: pointer;
}

main .icon-field input {
    display: none;
}

main .lead-coach {
    width: 60%;
}

main .max-rang {
    width: 30%;
}

main .create-butt{
    display: block;
    position: relative;

    width: 150px;
    height: 45px;
    min-height: 20px;

    color: white;
    background-color: royalblue;
    border-radius: 10px;
    border-color: rgba(209, 209, 209, 0.3);
    border-width: medium;

    font-size: 20px;
}

main .add-schedule-butt {
    width: 30%;
    min-height: 30px;
    height: 45px;

    margin-bottom: 20px;

    color: gray;
    border-style: solid;
    background-color: white;
    border-radius: 20px;
    border-color: rgba(209, 209, 209, 0.3);
    border-width: medium;

    font-size: 30px;
}

main .save-butts {
    display: flex;
    justify-content: center;
}

main .visually-hidden {
    display: none;
}

#map {
    height: 400px;
    width: 100%;

    margin-top: 30px;
    margin-bottom: 40px;

    border: medium solid rgba(209, 209, 209, 0.3);
    border-radius: 20px;
}

