.create_events {
    color: white;
    background-color: darkblue;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 7px;
    border: midnightblue;
    padding: 5px 15px;
    box-shadow: 0.2em 0.2em 2px rgba(122, 122, 122, 0.5);


}
.more_details{
    color: white;
    background-color: darkblue;
    border-radius: 7px;
    border: midnightblue;
    box-shadow: 0.2em 0.2em 2px rgba(122, 122, 122, 0.5);
}
.container{
    display: block;
    width: 100%;
}
.bordered{
    border: 1px solid black;
    border-radius: 20px;
}
.heading{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 50px;
}
.align-items-start{
    font-size: large;
    font-weight: bold;
    padding: 10px;
}
.col{
    padding: 5px;
    padding-right: 10px;
    margin: 10px;
}
.bordered-2{
    border-right: 1px solid black;
}


