@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

/*styles for fucking sidebar menu*/

.wrapper {
    position: relative;
    overflow-x: hidden;
}


.menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 20vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #134F8C;
    transition: 0.5s;
    transform: translateX(-65%);
    border-radius: 0 20px 20px 0;
}

.menu img[id="logo"] {
    margin-top: 20%;
    display: none;
    transition: visibility 600ms linear;
}

.menu .text-a {
    display: none;
    transition: display 600ms linear;
}

.menu_active {
    transform: translateX(0%);
}

.menu_active img[id="logo"] {
    display: block;
    transition: display 600ms linear;
}

.menu_active .text-a {
    font-family: 'Nunito', sans-serif;
    display: block;
    transition: display 600ms linear;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    flex-direction: column;
    margin: 5%;
}

.menu-list a {
    color:  white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2vh;
}



.menu-list img {
    width: 70%;
}

/*stilization for button of menu opening*/
.menu-btn {
    width: 15%;
    height: 10%;
    background-image: url("../assets/gamburger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    right: 12%;
    top: 0;
}

.btn {
    width:  120%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid white;*/
    align-items: center;
    margin-right: 0;
}

.btn img {
    width: 5vh;
    margin-right: 0;
}

.exit-btn {
    width:  110%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: 1px solid white;*/
    align-items: center;
    margin-left: auto;
    margin-top:  25%;
}

.icon {
    flex:  1;
    margin-right: 0;
}


.description {
    flex: 2;
}

.content {
    transition: 0.5s;
    position: relative;
    z-index: 0;
    transform: translateX(5%);
}

/*move content block when menu is opened*/
.content_active {
    transform: translateX(20%);
}

/* style for hiding admin and trainer buttons */
.hidden {
    display: none;
}

@media all and (max-width: 1000px) {
    .menu {
        width: 50vw;
    }

    .logo-id-block button {
        width: 15vh;
        font-size: 3vh;
    }

    .unvisible {
        display: none;
    }

    .content {
        transform: translateX(10%);
    }

    .content_active {
        transform: translateX(10%);
    }

}