/*styles for content block*/
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
  transform: translateX(5%);
}

/*move content block when menu is opened*/
.content_active {
  transform: translateX(20%);
}


.base-info {
  height: 40%;
  /*width: 70%;*/
  padding: 5%;
  margin-left: 5%;
  justify-content: space-around;
}

.base-info h2 {
  font-size: 420%;
}

.base-info h3 {
  font-size: 320%;
}



.photo {
  height: 40%;
  /*border: 1px solid gray;*/
  border-radius: 20px;
}

.logo {
  align-items: center;
  height: 25%;
}

.belt-id {
  align-items: center;
  margin:  auto;  
}

.belt-id button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: ghostwhite;
  padding: 7%;
  margin:  5%;
  font-size: 2vw;
  font-weight: bolder;
  color: #134F8C;
  text-align: center;
}

.belt-id img {
  margin: 5%;
}

.card-block {
  text-align: center;
  margin: 2% auto 7%;
}

.card-block h3 {
  font-weight: bolder;
}

.card {
  box-shadow: 5px 5px 5px grey;
  border: 1px solid lightgrey;
  border-radius: 50px;
  font-size: 140%;
  height: 90%;
}

.prog{
  background-color: #d8d8d8;
  border-radius: 25px;
  position: relative;
  margin: 2% auto;
  height: 30%;
  width: 90%;
}

.progress-done {
  border-radius: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.card p {
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  margin-bottom: 2%;
  margin-top: auto;
  font-weight: bolder;
  font-size: 140%;
}

.header-block {
  width: 100%;
}

.header-block button {
  width: 5%;
  background-color: white;
  border: none;
}

.achievment-table {
  justify-content: space-between;
}

.achievment {
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}

.hide-block-header {
  margin-bottom: 2%;
  margin-top: 2%;
  font-weight: bold;
}

.hide-block-header:hover {
  text-decoration: underline;
}

.achievment-block {
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0.2em 0.2em 2px rgba(122, 122, 122, 0.5);
  padding: 2%;
  margin: 7% 3%;
}

.achievment-name {
  background-color: black;  
  color: white;
  font-weight: bolder;
  font-size: 120%;
  padding: 7% 2%;
  height: 200%;
  border-radius: 10px;
}

.achievment-info {
  margin-top: 2%;
  align-items: center;
  text-align: center;
  /*justify-content: space-around;*/
  font-size: 110%;
}

.achievment-info p {
  margin: 0 0;
}

.achievment-info p[id="name"] {
  font-weight: bolder;
}

.ku-1 {
  background-color: #9e4700;
}

.ku-2 {
  background-color: #0417b4;
}

.ku-3 {
  background-color: #0c9511;
}

.ku-4 {
  background-color: #e83300;
}

.ku-5 {
  background-color: #ffde00;
}

.not-reached {
  opacity: 30%;
}



/*Styles for events tables*/

.table-name {
  text-align: center;
  margin-top: 4%;
  font-weight: bolder;
}

.scroll {
  max-height: 300px;
  overflow: auto;
}


.seminar-table {
  border: 1px solid black;
  border-radius: 20px;

  margin: 2% 0;
  padding: 2% 1%;

  text-align: center;
  font-size: 1.5vw;
}

.seminar-table table {
  width: 100%;
}

.seminar-table table td {
  width: 25%;
}

.heading {
  font-size: 1.7vw;
  font-weight: bolder;

}

.bordered {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}


/*styles for different resolutions */
@media all and (max-width: 1000px){
    .menu {
      width: 50vw;
    }

  .content {
    transform: translateX(10%);
  }

  .content_active {
    transform: translateX(10%);
  }

  .photo {
    height:  80%;
  }

  .logo-id-block button {
    width: 15vh;
    font-size: 3vh;
  }

  .achievment-block {
    margin: 7% 1%;
  }



  .unvisible {
    display: none;
  }

  .seminar-table table td {
  width: 50%;
  font-size: 2.5vw;
  }

}



