@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.seminar-info {
    font-size: 150%;
    font-weight: bolder;
    margin: 1% auto auto 15vw;

}

.changeable-params {
    color: #134F8C;
}

.download, .upload {
    width: 20%;
    margin: auto;

    font-size: 120%;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    padding-right: 5%;

}

.download {
    text-decoration: none;
    background: #05861A;
    background-image: url("../assets/excel.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 90%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    box-shadow: 0.2em 0.2em 2px rgba(122, 122, 122, 0.5);
    }

#buttons-block a:hover {
    text-decoration: none;
    color: white;
}

.upload {
    background: #134F8C;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    background-image: url("../assets/download.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 90%;
    box-shadow: 0.2em 0.2em 2px rgba(122, 122, 122, 0.5);
}

.input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.seminar-stat {
    margin: 5% auto;
    text-align: center;
}

.table-header {
    font-weight: bolder;
}

.seminar-stat table{
    font-size: 150%;
    width: 90%;
    margin: 2% auto;


}

.seminar-stat table td{
    padding: 1%;
}

.sortered-param {
    width: 40%;
}

.count {
    width: 20%;
}

.bordered {
    border-left: 1px solid black;
    border-radius: 20px 20px 20px 20px;
}


.bordered-container {
    border:  1px solid black;
    border-radius: 20px;
    margin: 2% 0;
}

.rank-stat td {
    width: 33%;
}

.rank {
    width: 90%;
    padding: 2%;
    border-radius: 10px;
    color: white;
}
.ku-1 {
  background-color: #9e4700;
}

.ku-2 {
  background-color: #0417b4;
}

.ku-3 {
  background-color: #0c9511;
}

.ku-4 {
  background-color: #e83300;
}

.ku-5 {
  background-color: #ffde00;
}

.stat-changer {
    background-color: #134F8C;
    border: 1px solid white;
    border-radius: 10px;
    min-width: 20%;
    max-width: 80%;
    padding: 1%;
    color: white;
    font-size: 130%;
    outline: none;
}

.hidden {
   display: none;
}