@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

body {
    background-image: url("../assets/background.png");
    font-family: 'Nunito', sans-serif;
}

.enter-form {
    text-align: center;
    padding: 20% 30%;
    color: white;
}

.enter-form [id="id"] {
    background-image: url("../assets/id_icon.png");
}

.enter-form [id="pass"] {
    background-image: url("../assets/pass.png");
}

.enter-button {
    width: 50%;
    margin-top: 5%;
    margin-left: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: block;
    padding-left: auto;
    padding-right: auto;

    background: white;
    border: 1px solid white;
    border-radius: 30px;

    font-size: 150%;
    color: #134F8C;
    text-align: center;
}

.input-field {
    width: 120%;
    margin-top: 5%;
    padding: 3% 3% 3% 15%;

    border: 1px solid white;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-position: 1%;
    background-size: 10%;

    font-size: 150%;
}

.info-block {
    color: #134F8C;
    padding: 10% 4%;
    text-align: center;
    background: white;
    border-radius: 20px 0 0 20px;
    margin-bottom: 0;

    font-size: 150%;
}

.info-block img {
   height: 40%;
}





